<div class="container">

	<h3><center>Add</center></h3>
	<a href="addpokemon" type="button" class="btn btn-primary btn-lg btn-block">Pokemon</a>
	<a href="addtrainer" type="button" class="btn btn-primary btn-lg btn-block">Trainer</a>
	<a href="addmove" type="button" class="btn btn-primary btn-lg btn-block">Pokemon Move</a>
	<a href="additem" type="button" class="btn btn-primary btn-lg btn-block">Item</a><br>

	<h3><center>Browse</center></h3>
	<a href="browsepokemon" type="button" class="btn btn-primary btn-lg btn-block">Pokemon</a>
	<a href="browsetrainer" type="button" class="btn btn-primary btn-lg btn-block">Trainer</a>
	<a href="browsemove" type="button" class="btn btn-primary btn-lg btn-block">Pokemon Move</a>
	<a href="browseitem" type="button" class="btn btn-primary btn-lg btn-block">Item</a><br>


	<h3><center>Modify</center></h3>
	<a href="modifypokemon" type="button" class="btn btn-primary btn-lg btn-block">Pokemon</a>
	<a href="modifytrainer" type="button" class="btn btn-primary btn-lg btn-block">Trainer</a>
	<a href="modifymove" type="button" class="btn btn-primary btn-lg btn-block">Move</a>
	<a href="modifyitem" type="button" class="btn btn-primary btn-lg btn-block">Item</a><br>

	<h3><center>Delete</center></h3>
	<a href="removepokemon" type="button" class="btn btn-primary btn-lg btn-block">Pokemon</a>
	<a href="removetrainer" type="button" class="btn btn-primary btn-lg btn-block">Trainer</a>
	<a href="removemove" type="button" class="btn btn-primary btn-lg btn-block">Move</a>
	<a href="removeitem" type="button" class="btn btn-primary btn-lg btn-block">Item</a><br>
	
</div>
